@section AboutCss{
<link rel="stylesheet" type="text/css" href="~/css/gallery.css">
<link rel="stylesheet" type="text/css" href="~/css/lightbox.min.css">
}
<body>
    <table align="center">
        <tr>
            <th colspan="6" style="color:Green; text-align:center;">ফটো গ্যালারি</th>
        </tr>
        <tr>
            <td colspan="6" style="color:forestgreen;">ছবি বড় করে দেখার জন্য ছবির উপর ক্লিক করুন--</td>
        </tr>

        <tr class="gallery">
            <td>
                <a href="~/images/gp1.JPG" data-lightbox="mygallery"><img src="~/images/gp1.JPG"></a>
                <p>Assembly time</p>
            </td>
            <td>
                <a href="~/images/gp2.JPG" data-lightbox="mygallery"><img src="~/images/gp2.JPG"></a>
                <p>Assembly time picture</p>
            </td>
            <td>
                <a href="~/images/gp3.JPG" data-lightbox="mygallery"><img src="~/images/gp3.JPG"></a>
                <p>Assembly time picture</p>
            </td>
            <td>
                <a href="~/images/gp4.JPG" data-lightbox="mygallery"><img src="~/images/gp4.JPG"></a>
                <p>Assembly time picture</p>
            </td>
            <td>
                <a href="~/images/gp5.JPG" data-lightbox="mygallery"><img src="~/images/gp5.JPG"></a>
                <p>Assembly time picture</p>
            </td>
        </tr>

        <tr class="gallery">
            <td>
                <a href="~/images/gp6.JPG" data-lightbox="mygallery"><img src="~/images/gp6.JPG"></a>
                <p>Assembly time picture</p>
            </td>
            <td>
                <a href="~/images/gp7.JPG" data-lightbox="mygallery"><img src="~/images/gp7.JPG"></a>
                <p>Price giving ceremony</p>
            </td>
            <td>
                <a href="~/images/gp8.JPG" data-lightbox="mygallery"><img src="~/images/gp8.JPG"></a>
                <p>Field</p>
            </td>
            <td>
                <a href="~/images/gp9.JPG" data-lightbox="mygallery"><img src="~/images/gp9.JPG"></a>
                <p>Students are doing study</p>
            </td>
            <td>
                <a href="~/images/gp10.JPG" data-lightbox="mygallery"><img src="~/images/gp10.JPG"></a>
                <p>Annual Action Competition Program</p>
            </td>
        </tr>

        <tr class="gallery">
            <td>
                <a href="~/images/gp11.JPG" data-lightbox="mygallery"><img src="~/images/gp11.JPG"></a>
                <p>Annual Action Competition Program</p>
            </td>
            <td>
                <a href="~/images/gp12.JPG" data-lightbox="mygallery"><img src="~/images/gp12.JPG"></a>
                <p>Group of students</p>
            </td>
            <td>
                <a href="~/images/gp13.JPG" data-lightbox="mygallery"><img src="~/images/gp13.JPG"></a>
                <p>Students are doing study</p>
            </td>
            <td>
                <a href="~/images/gp14.JPG" data-lightbox="mygallery"><img src="~/images/gp14.JPG"></a>
                <p>Rally</p>
            </td>
            <td>
                <a href="~/images/gp15.JPG" data-lightbox="mygallery"><img src="~/images/gp15.JPG"></a>
                <p>Head Master</p>
            </td>
        </tr>

        <tr class="gallery">
            <td>
                <a href="~/images/gp16.JPG" data-lightbox="mygallery"><img src="~/images/gp16.JPG"></a>
                <p>CCTV Camera photage</p>
            </td>
            <td>
                <a href="~/images/gp17.JPG" data-lightbox="mygallery"><img src="~/images/gp17.JPG"></a>
                <p>Students are doing study</p>
            </td>
            <td>
                <a href="~/images/gp18.JPG" data-lightbox="mygallery"><img src="~/images/gp18.JPG"></a>
                <p>Students are doing study</p>
            </td>
            <td>
                <a href="~/images/gp19.JPG" data-lightbox="mygallery"><img src="~/images/gp19.JPG"></a>
                <p>Teacher taking class</p>
            </td>
            <td>
                <a href="~/images/gp20.JPG" data-lightbox="mygallery"><img src="~/images/gp20.JPG"></a>
                <p>Students are doing study</p>
            </td>
        </tr>

        <tr class="gallery">
            <td>
                <a href="~/images/gp21.JPG" data-lightbox="mygallery"><img src="~/images/gp21.JPG"></a>
                <p>JSC Batch-1 Students</p>
            </td>
            <td>
                <a href="~/images/gp22.JPG" data-lightbox="mygallery"><img src="~/images/gp22.JPG"></a>
                <p>Students are in classroom</p>
            </td>
            <td>
                <a href="~/images/gp23.JPG" data-lightbox="mygallery"><img src="~/images/gp23.JPG"></a>
                <p>Teacher are standing for </p>
            </td>
            <td>
                <a href="~/images/gp24.JPG" data-lightbox="mygallery"><img src="~/images/gp24.JPG"></a>
                <p>Admit card distribution time</p>
            </td>
            <td>
                <a href="~/images/gp25.JPG" data-lightbox="mygallery"><img src="~/images/gp25.JPG"></a>
                <p>21'st February</p>
            </td>
        </tr>

    </table>
</body>
        @section Scripts {
            <script type="text/javascript" src="~/js/lightbox-plus-jquery.min.js"></script>
        }




