@model NagarHawlaGovtPrimarySchool.Models.SectionList
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@section Aboutcss{
    <link href="~/css/popup1.css" rel="stylesheet" />
}
@{
    ViewData["Active"] = "";
    ViewData["method"] = "Home";
    ViewData["controller"] = "Manager";
    ViewData["option"] = "হোম";
}
@section asideOption {
    <li class="">
        <a asp-controller="Manager" asp-action="Admins">
            <i class="fa fa-dashboard"></i> <span>এডমিনদের তথ্য</span>
        </a>
    </li>
    <li class="active">
        <a asp-controller="Edit" asp-action="EditPage">
            <i class="fa fa-dashboard"></i> <span>সম্পাদন করুন</span>
        </a>
    </li>
}


<div class="row container">    <p></p>  </div>

<form asp-controller="Result" asp-action="" asp-route-sectionName="sectionName" method="get">
    <div class="row container">
        <div class="col col-md-1">
            শাখাঃ
        </div>
        <div class="col col-md-3">
            <select class="custom_resultForm" name="sectionName" id="sectionName">
                @foreach (var data in Model.SectionAll)
                {
                    <option value="@data.section">@data.section</option>
                }
            </select>
        </div>

        <div class="col col-md-6">
            <a onclick="document.getElementById('updateSection').style.display='block'; updateField()"><i class="fa fa-pencil-square-o custom_admin_form" style="font-size:24px"></i></a>
            <a onclick="document.getElementById('addSection').style.display='block';  addField() "><i class="fa fa-plus-square-o custom_admin_form" style="font-size:24px"></i></a>
            <a onclick="document.getElementById('deleteSection').style.display='block'; deleteField()"><i class="fa fa-trash-o custom_admin_form" style="font-size:24px"></i></a>
        </div>
    </div>
</form>

<section>

    <!-- Class Update -->
    <div id="updateSection" class="modal">
        <form class="modal-content animate" asp-controller="Result" asp-action="" asp-route-sectionNameUpdate="sectionNameUpdate" method="get">
            <div class="imgcontainer">
                <span onclick="document.getElementById('updateSection').style.display='none'" class="close" title="Close PopUp">&times;</span>
                <img src="~/images/fff.png" alt="Avatar" class="avatar">
                <h1 style="text-align:center">Update Section</h1>
            </div>
            <div>
                <input type="text" name="sectionNameUpdate" id="updateField" required>
                <input type="hidden" name="section" id="updateFields">
                <button class="a" type="submit" formaction="SectionUpdate">submit</button>
            </div>
        </form>
    </div>
    <script>
        function updateField() {
            document.getElementById("updateField").value = document.getElementById("sectionName").value;
            document.getElementById("updateFields").value = document.getElementById("sectionName").value;
        }
    </script>

    <!-- Class Add -->
    <div id="addSection" class="modal">
        <form class="modal-content animate" asp-controller="Result" asp-action="" asp-route-sectionNameAdd="sectionNameAdd" method="get">
            <div class="imgcontainer">
                <span onclick="document.getElementById('addSection').style.display='none'" class="close" title="Close PopUp">&times;</span>
                <img src="~/images/fff.png" alt="Avatar" class="avatar">
                <h1 style="text-align:center">Add Section</h1>
            </div>
            <div>
                <input type="text" placeholder="Enter Section name" name="sectionNameAdd" id="updateField" required>
                <button class="a" type="submit" formaction="SectionAdd">submit</button>
            </div>
        </form>
    </div>
    <script>
        function addField() {
            document.getElementById("updateField").value = "";
        }
    </script>

    <!-- Class Delete -->
    <div id="deleteSection" class="modal">
        <form class="modal-content animate" asp-controller="Result" asp-action="" asp-route-sectionNameDelete="sectionNameDelete" method="get">
            <div class="imgcontainer">
                <span onclick="document.getElementById('deleteSection').style.display='none'" class="close" title="Close PopUp">&times;</span>
                <img src="~/images/fff.png" alt="Avatar" class="avatar">
                <h1 style="text-align:center">Delete Section</h1>
            </div>
            <div>
                <input type="text" name="sectionNameDelete" id="deleteField" readonly>
                <button class="a" type="submit" formaction="SectionDelete">Yes</button>
                <button class="a" type="submit">No</button>
            </div>
        </form>
    </div>
    <script>
        function deleteField() {
            document.getElementById("deleteField").value = document.getElementById("sectionName").value;
        }
    </script>

</section>