
.post-text, .pre-text{
    margin: 10px 20px 10px 20px;
}
.sj-k2-container-slider {
/* 	position: relative; */
/* 	overflow: hidden; */
}
/*############################################## Css Device ##################################*/

	.sj-k2-container-slider .preset02-1 .vpo-wrap { width: 100%; margin: 0; }
	.sj-k2-container-slider .preset02-1 .vpo-wrap .vp{ margin-right: 0; }
	.sj-k2-container-slider .preset02-1 .vpo-wrap .vp .item{margin: 0;width: 100%;}

	.sj-k2-container-slider .preset02-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sj-k2-container-slider .preset02-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sj-k2-container-slider .preset02-2 .vpo-wrap .vp .item{margin: 0 1%;width: 48%;}

	.sj-k2-container-slider .preset02-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sj-k2-container-slider .preset02-3 .vpo-wrap .vp{ margin-right: -200%; }
	.sj-k2-container-slider .preset02-3 .vpo-wrap .vp .item{margin: 0 1%;width: 31.3333%;}

	.sj-k2-container-slider .preset02-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sj-k2-container-slider .preset02-4 .vpo-wrap .vp { margin-right: -300%; }
	.sj-k2-container-slider .preset02-4 .vpo-wrap .vp .item{margin: 0 1%;width: 23%;}

	.sj-k2-container-slider .preset02-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sj-k2-container-slider .preset02-5 .vpo-wrap .vp { margin-right: -400%; }
	.sj-k2-container-slider .preset02-5 .vpo-wrap .vp .item{margin: 0 1%;width: 18%;}

	.sj-k2-container-slider .preset02-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sj-k2-container-slider .preset02-6 .vpo-wrap .vp { margin-right: -500%; }
	.sj-k2-container-slider .preset02-6 .vpo-wrap .vp .item{margin: 0 1%;width: 14.6666%;}	

@media all and (max-width: 320px){
	.sj-k2-container-slider .preset05-1 .vpo-wrap { width: 100%; margin: 0; }
	.sj-k2-container-slider .preset05-1 .vpo-wrap .vp{ margin-right: 0; }
	.sj-k2-container-slider .preset05-1 .vpo-wrap .vp .item{margin: 0;width: 100%;}

	.sj-k2-container-slider .preset05-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sj-k2-container-slider .preset05-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sj-k2-container-slider .preset05-2 .vpo-wrap .vp .item{margin: 0 1%;width: 48%;}

	.sj-k2-container-slider .preset05-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sj-k2-container-slider .preset05-3 .vpo-wrap .vp{ margin-right: -200%; }
	.sj-k2-container-slider .preset05-3 .vpo-wrap .vp .item{margin: 0 1%;width: 31.3333%;}

	.sj-k2-container-slider .preset05-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sj-k2-container-slider .preset05-4 .vpo-wrap .vp { margin-right: -300%; }
	.sj-k2-container-slider .preset05-4 .vpo-wrap .vp .item{margin: 0 1%;width: 23%;}

	.sj-k2-container-slider .preset05-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sj-k2-container-slider .preset05-5 .vpo-wrap .vp { margin-right: -400%; }
	.sj-k2-container-slider .preset05-5 .vpo-wrap .vp .item{margin: 0 1%;width: 18%;}

	.sj-k2-container-slider .preset05-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sj-k2-container-slider .preset05-6 .vpo-wrap .vp { margin-right: -500%; }
	.sj-k2-container-slider .preset05-6 .vpo-wrap .vp .item{margin: 0 1%;width: 14.6666%;}	
}
@media all and (min-width: 321px) and (max-width: 480px){
	.sj-k2-container-slider .preset04-1 .vpo-wrap { width: 100%; margin: 0; }
	.sj-k2-container-slider .preset04-1 .vpo-wrap .vp{ margin-right: 0; }
	.sj-k2-container-slider .preset04-1 .vpo-wrap .vp .item{margin: 0;width: 100%;}

	.sj-k2-container-slider .preset04-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sj-k2-container-slider .preset04-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sj-k2-container-slider .preset04-2 .vpo-wrap .vp .item{margin: 0 1%;width: 48%;}

	.sj-k2-container-slider .preset04-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sj-k2-container-slider .preset04-3 .vpo-wrap .vp{ margin-right: -200%; }
	.sj-k2-container-slider .preset04-3 .vpo-wrap .vp .item{margin: 0 1%;width: 31.3333%;}

	.sj-k2-container-slider .preset04-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sj-k2-container-slider .preset04-4 .vpo-wrap .vp { margin-right: -300%; }
	.sj-k2-container-slider .preset04-4 .vpo-wrap .vp .item{margin: 0 1%;width: 23%;}

	.sj-k2-container-slider .preset04-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sj-k2-container-slider .preset04-5 .vpo-wrap .vp { margin-right: -400%; }
	.sj-k2-container-slider .preset04-5 .vpo-wrap .vp .item{margin: 0 1%;width: 18%;}

	.sj-k2-container-slider .preset04-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sj-k2-container-slider .preset04-6 .vpo-wrap .vp { margin-right: -500%; }
	.sj-k2-container-slider .preset04-6 .vpo-wrap .vp .item{margin: 0 1%;width: 14.6666%;}	
}

@media all and (min-width: 481px) and (max-width: 768px){
	.sj-k2-container-slider .preset03-1 .vpo-wrap { width: 100%; margin: 0; }
	.sj-k2-container-slider .preset03-1 .vpo-wrap .vp{ margin-right: 0; }
	.sj-k2-container-slider .preset03-1 .vpo-wrap .vp .item{margin: 0;width: 100%;}

	.sj-k2-container-slider .preset03-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sj-k2-container-slider .preset03-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sj-k2-container-slider .preset03-2 .vpo-wrap .vp .item{margin: 0 1%;width: 48%;}

	.sj-k2-container-slider .preset03-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sj-k2-container-slider .preset03-3 .vpo-wrap .vp{ margin-right: -200%; }
	.sj-k2-container-slider .preset03-3 .vpo-wrap .vp .item{margin: 0 1%;width: 31.3333%;}

	.sj-k2-container-slider .preset03-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sj-k2-container-slider .preset03-4 .vpo-wrap .vp { margin-right: -300%; }
	.sj-k2-container-slider .preset03-4 .vpo-wrap .vp .item{margin: 0 1%;width: 23%;}

	.sj-k2-container-slider .preset03-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sj-k2-container-slider .preset03-5 .vpo-wrap .vp { margin-right: -400%; }
	.sj-k2-container-slider .preset03-5 .vpo-wrap .vp .item{margin: 0 1%;width: 18%;}

	.sj-k2-container-slider .preset03-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sj-k2-container-slider .preset03-6 .vpo-wrap .vp { margin-right: -500%; }
	.sj-k2-container-slider .preset03-6 .vpo-wrap .vp .item{margin: 0 1%;width: 14.6666%;}		
}

@media all and (min-width: 769px) and (max-width: 1200px){
	.sj-k2-container-slider .preset02-1 .vpo-wrap { width: 100%; margin: 0; }
	.sj-k2-container-slider .preset02-1 .vpo-wrap .vp{ margin-right: 0; }
	.sj-k2-container-slider .preset02-1 .vpo-wrap .vp .item{margin: 0;width: 100%;}

	.sj-k2-container-slider .preset02-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sj-k2-container-slider .preset02-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sj-k2-container-slider .preset02-2 .vpo-wrap .vp .item{margin: 0 1%;width: 48%;}

	.sj-k2-container-slider .preset02-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sj-k2-container-slider .preset02-3 .vpo-wrap .vp{ margin-right: -200%; }
	.sj-k2-container-slider .preset02-3 .vpo-wrap .vp .item{margin: 0 1%;width: 31.3333%;}

	.sj-k2-container-slider .preset02-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sj-k2-container-slider .preset02-4 .vpo-wrap .vp { margin-right: -300%; }
	.sj-k2-container-slider .preset02-4 .vpo-wrap .vp .item{margin: 0 1%;width: 23%;}

	.sj-k2-container-slider .preset02-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sj-k2-container-slider .preset02-5 .vpo-wrap .vp { margin-right: -400%; }
	.sj-k2-container-slider .preset02-5 .vpo-wrap .vp .item{margin: 0 1%;width: 18%;}

	.sj-k2-container-slider .preset02-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sj-k2-container-slider .preset02-6 .vpo-wrap .vp { margin-right: -500%; }
	.sj-k2-container-slider .preset02-6 .vpo-wrap .vp .item{margin: 0 1%;width: 14.6666%;}		
}

@media all and (min-width: 1201px){
	.sj-k2-container-slider .preset01-1 .vpo-wrap { width: 100%; margin: 0; }
	.sj-k2-container-slider .preset01-1 .vpo-wrap .vp{ margin-right: 0; }
	.sj-k2-container-slider .preset01-1 .vpo-wrap .vp .item{margin: 0;width: 100%;}

	.sj-k2-container-slider .preset01-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sj-k2-container-slider .preset01-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sj-k2-container-slider .preset01-2 .vpo-wrap .vp .item{margin: 0 1%;width: 48%;}

	.sj-k2-container-slider .preset01-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sj-k2-container-slider .preset01-3 .vpo-wrap .vp{ margin-right: -200%; }
	.sj-k2-container-slider .preset01-3 .vpo-wrap .vp .item{margin: 0 1%;width: 31.3333%;}

	.sj-k2-container-slider .preset01-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sj-k2-container-slider .preset01-4 .vpo-wrap .vp { margin-right: -300%; }
	.sj-k2-container-slider .preset01-4 .vpo-wrap .vp .item{margin: 0 1%;width: 23%;}

	.sj-k2-container-slider .preset01-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sj-k2-container-slider .preset01-5 .vpo-wrap .vp { margin-right: -400%; }
	.sj-k2-container-slider .preset01-5 .vpo-wrap .vp .item{margin: 0 1%;width: 18%;}

	.sj-k2-container-slider .preset01-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sj-k2-container-slider .preset01-6 .vpo-wrap .vp { margin-right: -500%; }
	.sj-k2-container-slider .preset01-6 .vpo-wrap .vp .item{margin: 0 1%;width: 14.6666%;}	
}
/*################################# End css Device #############################################*/

.sj-k2-container-slider{
	margin:20px;
	position: relative;
}

.sj-k2-container-slider .slider {
	overflow: hidden;
	position: relative;
	z-index: 999;
}
.sj-k2-container-slider .slider .item{
	background-size: 100% 100%;
}

.sj-k2-container-slider .no-rgba .slider .item{
	background: url('rgba.php/rgba(255, 0, 0, .5)');
}
.sj-k2-container-slider .slider .item img{
	width: 100%;
    vertical-align: middle;
}

.sj-k2-container-slider .slider .item img:hover{
	cursor: pointer;	
/* 	opacity:0.7; */
/*     filter: alpha(opacity=70); 	 */
}

.sj-k2-container-slider .slider .vpo-wrap .vp{
	position: relative;
	overflow: hidden;
	height: auto;
}

.sj-k2-container-slider .slider .vpo-wrap .vp .vpi-wrap{
	white-space: nowrap;
	font-size: 0 !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sj-k2-container-slider .slider .vpo-wrap .vp .item{
	margin-bottom: 2%;
	display: inline-block;
	font-size: medium;
	white-space: normal;
	vertical-align: top;
	float: none;
}

.sj-k2-container-slider .slider .vpo-wrap .vpi-wrap:after{
	display: block;
	height: 0;
	line-height: 0;
	content: '';
	clear: both;
}

.sj-k2-container-slider .not-js .vpo-wrap,
.sj-k2-container-slider .not-js .vpo-wrap .vp,
.sj-k2-container-slider .not-js .vpo-wrap .vp .vpi-wrap,
.sj-k2-container-slider .not-js .vpo-wrap .vp .item{
	position: static;
}
.sj-k2-container-slider .not-js .vpo-wrap .vp .item{
	float: left;
}


.sj-k2-container-slider #to li a{
	outline: none;
}


/*#################################################### css for hearder #############################################*/
/* .sj-k2-container-slider .page-header-module{ */
/* 	margin:10px 10px 0 10px; */
/* 	height: 38px; */
/* 	white-space: nowrap; */
/* } */
.sj-k2-container-slider .page-title{
	color: #2E2C2D;
	/* text-transform: uppercase; */
	font-size: 13px;
	font-weight: bold;
/* 	float: left; */
	overflow: hidden;
	width: 75%;
	margin:10px 0 8px 6px;
}

/*############################################### css for botton #################################################*/
.sj-k2-container-slider .control-button {
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 0;
}
.sj-k2-container-slider .page-button .control-button{
	text-indent: -999999px;
	margin-bottom:0px;
	position: relative;
	height:100%;
}
.sj-k2-container-slider .page-button.top,
.sj-k2-container-slider .page-button.bottom{
	 margin-right: 10px;
}
.sj-k2-container-slider .page-button .control-button .preview{
	background: url(../images/button-image.png) no-repeat;
    width:24px;
    height:15px;        
    opacity:0.5;
    filter: alpha(opacity=50);
    position:absolute;
    right:30px;	
    padding:0px;
    margin:0px;
    z-index: 9999;
}
.sj-k2-container-slider .page-button .control-button .next{
    background: url(../images/button-image.png) no-repeat -30px 0;
    width:26px;
    height:15px;    
    opacity:0.5;
    filter: alpha(opacity=50);
    position:absolute;
    right:0;
    padding:0px;
    margin:0px;
    z-index: 9999;
}
.sj-k2-container-slider .page-button.top .control-button .preview,
.sj-k2-container-slider .page-button.top .control-button .next{
	bottom:10px;
}
.sj-k2-container-slider .page-button.middle{
    right: 30px;
    left: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
}
.sj-k2-container-slider .page-button .control-button{
}
.sj-k2-container-slider .page-button.bottom .control-button .preview, 
.sj-k2-container-slider .page-button.bottom .control-button .next{
	top:10px;
}
.sj-k2-container-slider .page-button.middle .control-button .preview{
 	top: 52%;
    z-index: 9999;
    left:0;	 
}
.sj-k2-container-slider .page-button.middle .control-button .next{
 	top: 52%;
    z-index: 9999;
    right:0;	
}

.sj-k2-container-slider .page-button.style2 .control-button .preview{
	background-position:-180px 0;
    width:22px;
    height:20px;        
    right:21px;	
    z-index: 9999;
}
.sj-k2-container-slider .page-button.style2 .control-button .next{
    background-position:-210px 0;
    width:22px;
    height:20px; 
    z-index: 9999;   
}
.sj-k2-container-slider .page-button.style3 .control-button .preview{
	background-position:-60px 0;
    width:14px;
    height:21px;        
    right:15px;	
    z-index: 9999;
}
.sj-k2-container-slider .page-button.style3 .control-button .next{
    background-position:-90px 0;
    width:12px;
    height:21px;  
    z-index: 9999;  
}

.sj-k2-container-slider .page-button .control-button .preview:hover, 
.sj-k2-container-slider .page-button .control-button .next:hover, 
.sj-k2-container-slider .page-button.style2 .control-button .preview:hover,
.sj-k2-container-slider .page-button.style2 .control-button .next:hover{
	cursor: pointer;
    opacity:1;
    filter: alpha(opacity=100);	
}


/*########################################## css for info item ############################################*/
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap{
	width: 100%;
	position: relative;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-img{
	border: 1px solid #DDDDDD;
    padding: 9px;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-img:hover{
    opacity:0.7; 
    filter: alpha(opacity=70); 
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info{
	margin-top:10px;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-title{
	font-size:15px;
	margin-bottom:5px;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content{
	margin:0px;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-des{
	font-size: 11px;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-read{
	text-align: right;
	font-size:12px;
 	margin-top:5px; 
}

.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-created{
	font-size:13px;
}


/*css spotlight*/
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight{
	position: absolute;
	left: 0;
	bottom:0;
	padding:10px 0 10px 0;
	width:100%;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-inner{
	position: relative;
	padding:8px 10px 0px 10px;
	overflow: hidden;
	margin-right:10px;
	margin-left:10px;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content,
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content a,
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-title a,
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-title{
	position: relative;
	color:white;
	z-index: 2;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content{
	padding-bottom:2px;
	height:0px;
	-webkit-transition: all 3s ;
	-moz-transition: all 3s ;
	-ms-transition: all 3s ;
	-o-transition: all 3s ;
	transition: all 3s ;  
    
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight:hover .item-content{
	height:auto;
}
.sj-k2-container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-bg{
	position: absolute;
	bottom: 0px;
	left: 0px;
    background:#000;	
    opacity:0.7;
    filter: alpha(opacity=70);
    height:100%;  
    width: 100%;
    z-index: 1;
}

/*#################################################################*/
.sj-k2-container-slider .control-button:after{
    clear: both;
}
.sj-k2-container-slider .control-button:before, .sj-k2-container-slider .control-button:after {
    content: "";
    display: table;
}

.sj-k2-container-slider .control-button.preload{
	display: none;
}

.sj-k2-container-slider .tags span a{
	display:inline-block;
}

.sj-k2-container-slider .tags span a.label-info[href] {
    background-color: #2D6987;
}

.sj-k2-container-slider .tags span a.label-info{
    background-color: #3A87AD;
}
.sj-k2-container-slider .tags span a.label {
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #999;
	padding: 1px 4px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

